// partials
@import "varibles";

h1 {
  color : $mycolor
}

p{
  $mycolor : rgb(28, 133, 182);  
  color: $mycolor
}

// nested in sass
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;

  }
  a{
    display: block;
    text-decoration: none;

  }
}



// select
.btn {
  &:hover {
    background-color: aquamarine;
  }
}

.texthover{
  width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  &copy{
    opacity: .3;;
    font-size: medium;
  }
}

