@import "varibles";

h1 {
  color : $mycolor
}

p{
  $mycolor : rgb(28, 133, 182);  
  color: $mycolor
}

// nested in sass
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;

  }
  a{
    display: block;
    text-decoration: none;

  }
}



// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;

//     li {
//       display: inline;

//       a{
//         display: block;
//         text-decoration: none;
//       }
//     }
//   }
// }